<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>ca.tarapore.dnd.installer.helper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>helper</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2026 Dharmesh Tarapore</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier &quot;ca.tarapore.dnd.installer&quot; and certificate leaf[subject.OU] = &quot;L858T78JKU&quot;</string>
	</array>
</dict>
</plist>
